
.container {
  padding: 20px;
}

.search-field {
  width: 100%;
  margin-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 80px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
  
